h1,
h2,
h3,
p,
img {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px 50px;
  font-family: "Calibri", sans-serif;
  background-image: url("../images/insung-yoon-Iw9Ld4ab8wo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.app-heading {
  text-transform: uppercase;
  font-size: 36px;
  display: table;
  /* background-color: white; */
}

label {
  color: white;
}

.form-input {
  padding: 8px;
  border-color: white;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Calibri", sans-serif;
}

.button {
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 5px;
}

.styled-button {
  color: white;
  background-color: transparent;
  border: 2px solid white;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.add-button:hover {
  background-color: #ff5555;
}
