.loader-overlay {
  position: fixed;
  inset: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-spinner {
  width: 30%;
  animation: spinTwice 4s ease-in-out forwards;
}

@keyframes spinTwice {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

body.loading main {
  visibility: hidden;
}

.archive-button {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  padding: 3px;
}

.archive-button:hover {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.archive-button::after {
  content: attr(data-tooltip);
  position: absolute;
  right: calc(100% - 30px);
  top: 50%;
  transform: translateY(-20%);

  background: #333;
  color: white;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 12px;

  opacity: 0;
  pointer-events: none;

  text-align: left;

  z-index: 100;
  width: 110px;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.archive-button::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);

  border: 6px solid transparent;
  border-left-color: #333;

  opacity: 0;
  transition: opacity 0.2s ease;
}

.archive-button:hover::after,
.archive-button:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.archive-img {
  width: 100%;
}

.expenses-total {
  background-image: linear-gradient(
    to top,
    #569b17,
    #5fa828,
    #69b437,
    #72c145,
    #7bce53
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 25px;
  height: fit-content;
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-heading {
  line-height: 0.2;
  font-size: 20px;
}

.expense-form {
  background-image: linear-gradient(
    to top,
    #ff937e,
    #ff8572,
    #ff7768,
    #ff675e,
    #ff5555
  );
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.expenses-list-container {
  border: 2px solid #ff5555;
  background-color: white;
  opacity: 0.85;
}

.expenses-list-heading {
  color: #ff5555;
}

.day-section {
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  border-bottom: 1px solid black;
}

.day-number {
  font-size: 18px;
  color: #777;
}

.day-name {
  font-size: 14px;
  color: #777;
}

.day-total {
  font-size: 14px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  font-size: 14px;
}

.badge {
  padding: 4px 14px;
  border-radius: 20px;
  color: white;
}

.expenses-by-category-heading {
  margin-bottom: 15px;
}

.expenses-by-category-container {
  border-radius: 10px;
  border: 2px solid #ff5555;
  padding: 25px;
  background-color: white;
  opacity: 0.85;
}

.expenses-bar {
  display: flex;
  height: 25px;
  background: #eaeaea;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.expense-bar-segment {
  height: 100%;
}

.expenses-bar-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.expense-bar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: #ffffffcc;
  border-radius: 10px;
  margin-bottom: 12px;
}

.category-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.category-bar {
  width: 40px;
  height: 6px;
  border-radius: 4px;
  flex-shrink: 0;
}

.category-title {
  font-size: 14px;
}

.income-dialog {
  width: 25%;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(
    to top,
    #569b17,
    #5fa828,
    #69b437,
    #72c145,
    #7bce53
  );
  padding: 25px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@media (max-width: 800px) {
  .income-dialog {
    width: 80%;
  }
}

.income-dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
